* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.main-btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    height: 65px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

/* Header and navigation styles */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
}

.logo {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */

.banner {
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-description {
    color: #757575;
    margin-bottom: 30px;
}

/* Main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about me section */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-weight: normal;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-title {
    font-size: 20px;
}

.info-description {
    font-weight: bold;
    font-size: 20px;
}